In [9]:
import pandas as pd

# Allows better display of DataFrames
from IPython.display import display

# Create DataFrame from CSV file
countries = pd.read_csv('countries.csv')

# Confirm it is a DataFrame
type(countries)

pandas.core.frame.DataFrame

In [10]:
# Determine how many countries are in the list
len(countries)

188

In [11]:
# This dataset is from 2016 and contains 188 countries total.
# As of 2018, there are 196-241 countries and territories (depends on political questions).
# 5 countries with name changes since 2016 are either recorded with the old name or not recorded (~2%)
# Conclusion: Most countries of the world have been recognized with this data.

In [18]:
countries.head(5)

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2

In [13]:
# Too many columns to print neatly in one shot, so splitting into chunks for better visibility
country_IDs = countries.iloc[:,:5]
country_footprints = countries.iloc[:,5:10]
country_resources = countries.iloc[:,10:15]
country_totals = countries.iloc[:,15:]

In [14]:
# Print out heads to ensure correct slicing
country_IDs.head(10)

# print(country_footprints.head(10))
# print(country_resources.head(10))
# print(country_totals.head(10))

,Country,Region,Population (millions),HDI,GDP per Capita
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37"
2,Algeria,Africa,38.48,0.73,"$5,430.57"
3,Angola,Africa,20.82,0.52,"$4,665.91"
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10"
5,Argentina,Latin America,41.09,0.83,"$13,540.00"
6,Armenia,Middle East/Central Asia,2.97,0.73,"$3,426.39"
7,Aruba,Latin America,0.10,NaN,NaN
8,Australia,Asia-Pacific,23.05,0.93,"$66,604.20"
9,Austria,European Union,8.46,0.88,"$51,274.10"

In [19]:
# Rename columns for better readability
country_IDs = country_IDs.rename(columns = {'Population (millions)':'Pop (M)','GDP per Capita':'GDP per cap'})
country_IDs.head(10)

               Country                    Region  Pop (M)   HDI GDP per cap
0          Afghanistan  Middle East/Central Asia    29.82  0.46     $614.66
1              Albania   Northern/Eastern Europe     3.16  0.73   $4,534.37
2              Algeria                    Africa    38.48  0.73   $5,430.57
3               Angola                    Africa    20.82  0.52   $4,665.91
4  Antigua and Barbuda             Latin America     0.09  0.78  $13,205.10
5            Argentina             Latin America    41.09  0.83  $13,540.00
6              Armenia  Middle East/Central Asia     2.97  0.73   $3,426.39
7                Aruba             Latin America     0.10   NaN         NaN
8            Australia              Asia-Pacific    23.05  0.93  $66,604.20
9              Austria            European Union     8.46  0.88  $51,274.10

In [16]:
# Look for columns with NaN values
# print(countries.loc[:, countries.isnull().any()])