In [2]:
import pandas as pd

# Create DataFrame from CSV file
countries = pd.read_csv('countries.csv')

# Confirm it is a DataFrame
type(countries)

pandas.core.frame.DataFrame

In [3]:
# Determine how many countries are in the list
len(countries)

188

In [4]:
# This dataset is from 2016 and contains 188 countries total.
# As of 2018, there are 196-241 countries and territories (depends on political questions).
# 5 countries with name changes since 2016 are either recorded with the old name or not recorded (~2%)
# Conclusion: Most countries of the world have been recognized with this data.

In [5]:
print(countries.head(5))

               Country                    Region  Population (millions)   HDI  \
0          Afghanistan  Middle East/Central Asia                  29.82  0.46
1              Albania   Northern/Eastern Europe                   3.16  0.73
2              Algeria                    Africa                  38.48  0.73
3               Angola                    Africa                  20.82  0.52
4  Antigua and Barbuda             Latin America                   0.09  0.78

  GDP per Capita  Cropland Footprint  Grazing Footprint  Forest Footprint  \
0        $614.66                0.30               0.20              0.08
1      $4,534.37                0.78               0.22              0.25
2      $5,430.57                0.60               0.16              0.17
3      $4,665.91                0.33               0.15              0.12
4     $13,205.10                 NaN                NaN               NaN

   Carbon Footprint  Fish Footprint      ...       Cropland  Grazing Land  \
0              0.18            0.00      ...           0.24          0.20
1              0.87            0.02      ...           0.55          0.21
2              1.14            0.01      ...           0.24          0.27
3              0.20            0.09      ...           0.20          1.42
4               NaN             NaN      ...            NaN           NaN

   Forest Land  Fishing Water  Urban Land  Total Biocapacity  \
0         0.02           0.00        0.04               0.50
1         0.29           0.07        0.06               1.18
2         0.03           0.01        0.03               0.59
3         0.64           0.26        0.04               2.55
4          NaN            NaN         NaN               0.94

   Biocapacity Deficit or Reserve  Earths Required  Countries Required  \
0                           -0.30             0.46                1.60
1                           -1.03             1.27                1.87
2                           -1.53             1.22                3.61
3                            1.61             0.54                0.37
4                           -4.44             3.11                5.70

   Data Quality
0             6
1             6
2             5
3             6
4             2

[5 rows x 21 columns]

In [19]:
# Too many columns to print neatly in one shot, so splitting into chunks for better visibility
country_IDs = countries.iloc[:,:5]
country_footprints = countries.iloc[:,5:10]
country_resources = countries.iloc[:,10:15]
country_totals = countries.iloc[:,15:]

In [20]:
# Print out heads to ensure correct slicing
print(country_IDs.head(10))

               Country                    Region  Population (millions)   HDI  \
0          Afghanistan  Middle East/Central Asia                  29.82  0.46
1              Albania   Northern/Eastern Europe                   3.16  0.73
2              Algeria                    Africa                  38.48  0.73
3               Angola                    Africa                  20.82  0.52
4  Antigua and Barbuda             Latin America                   0.09  0.78
5            Argentina             Latin America                  41.09  0.83
6              Armenia  Middle East/Central Asia                   2.97  0.73
7                Aruba             Latin America                   0.10   NaN
8            Australia              Asia-Pacific                  23.05  0.93
9              Austria            European Union                   8.46  0.88

  GDP per Capita
0        $614.66
1      $4,534.37
2      $5,430.57
3      $4,665.91
4     $13,205.10
5     $13,540.00
6      $3,426.39
7            NaN
8     $66,604.20
9     $51,274.10

In [17]:
print(country_footprints.head(10))

   Cropland Footprint  Grazing Footprint  Forest Footprint  Carbon Footprint  \
0                0.30               0.20              0.08              0.18
1                0.78               0.22              0.25              0.87
2                0.60               0.16              0.17              1.14
3                0.33               0.15              0.12              0.20
4                 NaN                NaN               NaN               NaN
5                0.78               0.79              0.29              1.08
6                0.74               0.18              0.34              0.89
7                 NaN                NaN               NaN               NaN
8                2.68               0.63              0.89              4.85
9                0.82               0.27              0.63              4.14

   Fish Footprint
0            0.00
1            0.02
2            0.01
3            0.09
4             NaN
5            0.10
6            0.01
7             NaN
8            0.11
9            0.06

In [16]:
print(country_resources.head(10))

   Total Ecological Footprint  Cropland  Grazing Land  Forest Land  \
0                        0.79      0.24          0.20         0.02
1                        2.21      0.55          0.21         0.29
2                        2.12      0.24          0.27         0.03
3                        0.93      0.20          1.42         0.64
4                        5.38       NaN           NaN          NaN
5                        3.14      2.64          1.86         0.66
6                        2.23      0.44          0.26         0.10
7                       11.88       NaN           NaN          NaN
8                        9.31      5.42          5.81         2.01
9                        6.06      0.71          0.16         2.04

   Fishing Water
0           0.00
1           0.07
2           0.01
3           0.26
4            NaN
5           1.67
6           0.02
7            NaN
8           3.19
9           0.00

In [18]:
print(country_totals.head(10))

   Urban Land  Total Biocapacity  Biocapacity Deficit or Reserve  \
0        0.04               0.50                           -0.30
1        0.06               1.18                           -1.03
2        0.03               0.59                           -1.53
3        0.04               2.55                            1.61
4         NaN               0.94                           -4.44
5        0.10               6.92                            3.78
6        0.07               0.89                           -1.35
7         NaN               0.57                          -11.31
8        0.14              16.57                            7.26
9        0.15               3.07                           -3.00

   Earths Required  Countries Required Data Quality
0             0.46                1.60            6
1             1.27                1.87            6
2             1.22                3.61            5
3             0.54                0.37            6
4             3.11                5.70            2
5             1.82                0.45            6
6             1.29                2.52           3B
7             6.86               20.69            2
8             5.37                0.56            5
9             3.50                1.98            5

In [21]:
country_IDs = country_IDs.rename(columns = {'Population (millions)':'Pop (M)'})
print(country_IDs)

                               Country                    Region  Pop (M)  \
0                          Afghanistan  Middle East/Central Asia   29.820
1                              Albania   Northern/Eastern Europe    3.160
2                              Algeria                    Africa   38.480
3                               Angola                    Africa   20.820
4                  Antigua and Barbuda             Latin America    0.090
5                            Argentina             Latin America   41.090
6                              Armenia  Middle East/Central Asia    2.970
7                                Aruba             Latin America    0.100
8                            Australia              Asia-Pacific   23.050
9                              Austria            European Union    8.460
10                          Azerbaijan  Middle East/Central Asia    9.310
11                             Bahamas             Latin America    0.370
12                             Bahrain  Middle East/Central Asia    1.320
13                          Bangladesh              Asia-Pacific  154.700
14                            Barbados             Latin America    0.280
15                             Belarus   Northern/Eastern Europe    9.400
16                             Belgium            European Union   11.060
17                               Benin                    Africa   10.050
18                             Bermuda             North America    0.060
19                              Bhutan              Asia-Pacific    0.740
20                             Bolivia             Latin America   10.500
21              Bosnia and Herzegovina   Northern/Eastern Europe    3.830
22                            Botswana                    Africa    2.000
23                              Brazil             Latin America  198.660
24              British Virgin Islands             Latin America    0.030
25                   Brunei Darussalam              Asia-Pacific    0.410
26                            Bulgaria            European Union    7.280
27                        Burkina Faso                    Africa   16.460
28                             Burundi                    Africa    9.850
29                          Cabo Verde                    Africa    0.490
..                                 ...                       ...      ...
158                              Spain            European Union   46.760
159                          Sri Lanka              Asia-Pacific   21.100
160                           Suriname             Latin America    0.540
161                          Swaziland                    Africa    1.230
162                             Sweden            European Union    9.510
163                        Switzerland   Northern/Eastern Europe    8.000
164               Syrian Arab Republic  Middle East/Central Asia   21.890
165                         Tajikistan  Middle East/Central Asia    8.010
166       Tanzania, United Republic of                    Africa   47.780
167                           Thailand              Asia-Pacific   66.780
168                        Timor-Leste              Asia-Pacific    1.110
169                               Togo                    Africa    6.640
170                              Tonga              Asia-Pacific    0.100
171                Trinidad and Tobago             Latin America    1.340
172                            Tunisia                    Africa   10.880
173                             Turkey  Middle East/Central Asia   74.000
174                       Turkmenistan  Middle East/Central Asia    5.170
175                             Uganda                    Africa   36.350
176                            Ukraine   Northern/Eastern Europe   45.530
177                     United Kingdom            European Union   63.030
178               United Arab Emirates  Middle East/Central Asia    9.206
179           United States of America             North America  317.500
180                            Uruguay             Latin America    3.400
181                         Uzbekistan  Middle East/Central Asia   28.540
182  Venezuela, Bolivarian Republic of             Latin America   29.960
183                           Viet Nam              Asia-Pacific   90.800
184          Wallis and Futuna Islands              Asia-Pacific    0.010
185                              Yemen  Middle East/Central Asia   23.850
186                             Zambia                    Africa   14.080
187                           Zimbabwe                    Africa   13.720

          HDI GDP per Capita
0    0.460000        $614.66
1    0.730000      $4,534.37
2    0.730000      $5,430.57
3    0.520000      $4,665.91
4    0.780000     $13,205.10
5    0.830000     $13,540.00
6    0.730000      $3,426.39
7         NaN            NaN
8    0.930000     $66,604.20
9    0.880000     $51,274.10
10   0.750000      $7,106.04
11   0.780000     $22,647.30
12   0.820000     $24,299.00
13   0.560000        $857.50
14   0.790000     $15,722.80
15   0.800000      $6,300.45
16   0.890000     $48,053.30
17   0.480000        $746.83
18        NaN     $70,626.30
19   0.590000      $2,395.00
20   0.650000      $2,253.09
21   0.730000      $4,708.85
22   0.690000      $7,743.50
23   0.750000     $13,237.60
24        NaN            NaN
25   0.850000     $47,097.40
26   0.780000      $7,615.28
27   0.390000        $671.07
28   0.390000        $276.69
29   0.640000      $3,801.45
..        ...            ...
158  0.870000     $32,008.70
159  0.750000      $2,880.03
160  0.710000      $8,190.70
161  0.530000      $4,657.48
162  0.900000     $59,381.90
163  0.930000     $88,506.20
164  0.620000            NaN
165  0.620000        $836.17
166  0.510000        $765.33
167  0.720000      $5,479.29
168  0.600000      $5,167.86
169  0.470000        $580.86
170  0.720000      $4,330.90
171  0.770000     $18,310.80
172  0.720000      $4,305.07
173  0.760000     $10,437.70
174  0.680000      $5,290.14
175  0.480000        $601.35
176  0.740000      $3,589.63
177  0.900000     $40,980.50
178  0.830000     $40,817.40
179  0.910000     $49,725.00
180  0.790000     $14,238.10
181  0.670000      $1,560.85
182  0.763846     $10,237.80
183  0.660000      $1,532.31
184       NaN            NaN
185  0.500000      $1,302.30
186  0.580000      $1,740.64
187  0.490000        $865.91

[188 rows x 5 columns]

In [23]:
# Look for columns with NaN values
# print(countries.loc[:, countries.isnull().any()])