# Initial Data Exploration
This notebook is available to get familiar with the dataset and with using Jupyter notebooks.

**Other useful links:**
- <a href="https://github.com/schmitzmelissa/DSCT-Capstone01">Full Github Repository</a>
- <a href="https://www.kaggle.com/footprintnetwork/ecological-footprint">Kaggle Dataset</a>
- <a href="https://www.footprintnetwork.org/">Data Source Website</a>
- <a href="https://www.footprintnetwork.org/resources/glossary/">Glossary of Relevant Terms</a>

## Dataset Discoveries
(acquired through the below code)
- 188 countries, which is a great representation of most countries in the world
- 15 countries with incomplete observations (i.e., only 8% of countries contain NaN values)

## Proposed Next Steps
- Convert region names to shorter abbreviations
- Consider grouping data by factors such as:
 - Weighted area
 - Population size
 - Separate analysis of outliers

In [14]:
import pandas as pd
import numpy as np

# Allows better display of DataFrames
from IPython.display import display

# Create DataFrame from CSV file
countries = pd.read_csv('countries.csv')

# Confirm it is a DataFrame
type(countries)

pandas.core.frame.DataFrame

In [2]:
# Determine how many countries are in the list
len(countries)

188

**Discoveries:**
- This dataset is from 2016 and contains 188 countries total.
- As of 2018, there are 196-241 countries and territories (depends on political questions).
- 5 countries with name changes since 2016 are either recorded with the old name or not recorded (~2%)

**Conclusion:** Most countries of the world have been recognized with this data.

In [3]:
# Get a look at the composition of the DataFrame
countries.head(5)

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.60,6
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.87,6
2,Algeria,Africa,38.48,0.73,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.61,5
3,Angola,Africa,20.82,0.52,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.37,6
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.70,2

In [4]:
# Too many columns to print neatly in one shot, so splitting into chunks for better visibility
country_IDs = countries.iloc[:,:5]
country_footprints = countries.iloc[:,5:10]
country_resources = countries.iloc[:,10:15]
country_totals = countries.iloc[:,15:]

In [5]:
# Print out heads to ensure correct slicing
country_IDs.head(10)

# print(country_footprints.head(10))
# print(country_resources.head(10))
# print(country_totals.head(10))

,Country,Region,Population (millions),HDI,GDP per Capita
0,Afghanistan,Middle East/Central Asia,29.82,0.46,$614.66
1,Albania,Northern/Eastern Europe,3.16,0.73,"$4,534.37"
2,Algeria,Africa,38.48,0.73,"$5,430.57"
3,Angola,Africa,20.82,0.52,"$4,665.91"
4,Antigua and Barbuda,Latin America,0.09,0.78,"$13,205.10"
5,Argentina,Latin America,41.09,0.83,"$13,540.00"
6,Armenia,Middle East/Central Asia,2.97,0.73,"$3,426.39"
7,Aruba,Latin America,0.10,NaN,NaN
8,Australia,Asia-Pacific,23.05,0.93,"$66,604.20"
9,Austria,European Union,8.46,0.88,"$51,274.10"

In [6]:
# Rename columns for better readability
country_IDs = country_IDs.rename(columns = {'Population (millions)':'Pop (M)','GDP per Capita':'GDP per cap'})
country_IDs.head(10)

               Country                    Region  Pop (M)   HDI GDP per cap
0          Afghanistan  Middle East/Central Asia    29.82  0.46     $614.66
1              Albania   Northern/Eastern Europe     3.16  0.73   $4,534.37
2              Algeria                    Africa    38.48  0.73   $5,430.57
3               Angola                    Africa    20.82  0.52   $4,665.91
4  Antigua and Barbuda             Latin America     0.09  0.78  $13,205.10
5            Argentina             Latin America    41.09  0.83  $13,540.00
6              Armenia  Middle East/Central Asia     2.97  0.73   $3,426.39
7                Aruba             Latin America     0.10   NaN         NaN
8            Australia              Asia-Pacific    23.05  0.93  $66,604.20
9              Austria            European Union     8.46  0.88  $51,274.10

In [7]:
# Look for columns with NaN values
print(len(countries.loc[:, countries.isnull().any()]))

188

In [8]:
print('Shape:',countries.shape,'\n\n')
print('Columns:',countries.columns,'\n\n')
print('Info:\n')
countries.info()

Shape: (188, 21)


Columns: Index(['Country', 'Region', 'Population (millions)', 'HDI', 'GDP per Capita',
       'Cropland Footprint', 'Grazing Footprint', 'Forest Footprint',
       'Carbon Footprint', 'Fish Footprint', 'Total Ecological Footprint',
       'Cropland', 'Grazing Land', 'Forest Land', 'Fishing Water',
       'Urban Land', 'Total Biocapacity', 'Biocapacity Deficit or Reserve',
       'Earths Required', 'Countries Required', 'Data Quality'],
      dtype='object')


Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 21 columns):
Country                           188 non-null object
Region                            188 non-null object
Population (millions)             188 non-null float64
HDI                               172 non-null float64
GDP per Capita                    173 non-null object
Cropland Footprint                173 non-null float64
Grazing Footprint                 173 non-null float64
Forest Footprint                  173 non-null float64
Carbon Footprint                  173 non-null float64
Fish Footprint                    173 non-null float64
Total Ecological Footprint        188 non-null float64
Cropland                          173 non-null float64
Grazing Land                      173 non-null float64
Forest Land                       173 non-null float64
Fishing Water                     173 non-null float64
Urban Land                        173 non-null float64
Total Biocapacity                 188 non-null float64
Biocapacity Deficit or Reserve    188 non-null float64
Earths Required                   188 non-null float64
Countries Required                188 non-null float64
Data Quality                      188 non-null object
dtypes: float64(17), object(4)
memory usage: 30.9+ KB

- The data has 188 rows and 21 columns.
- The column names as-is are fairly consistent, but not all of them explicitly include units (units were inferred in the proposal from other data on the source website).
- Apparently 188 columns have NaN values...
 - So every single row contains at least one NaN?
 - (Seems weird to me... Also, I'm pretty sure there's AT LEAST 1 country that has all the columns filled out...)
 - I think I'm just using the wrong command.
 
 
 **Don't forget:** I split up the columns into separate DataFrames... So analysis in above two cells was on original DataFrame.

In [9]:
countries[countries.HDI.isnull()]

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
7,Aruba,Latin America,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.57,-11.31,6.86,20.69,2
18,Bermuda,North America,0.06,NaN,"$70,626.30",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.13,-5.64,3.33,44.05,3T
24,British Virgin Islands,Latin America,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.05,-0.81,1.65,1.40,3T
33,Cayman Islands,Latin America,0.06,NaN,NaN,0.36,0.45,1.23,3.56,0.05,...,0.00,0.02,0.19,0.11,0.00,0.32,-5.33,3.26,17.91,3L
43,Côte d'Ivoire,Africa,19.84,NaN,"$1,016.83",0.51,0.06,0.22,0.26,0.14,...,0.88,0.30,0.48,0.04,0.08,1.78,0.51,0.74,0.72,6
62,French Guiana,Latin America,0.24,NaN,NaN,0.07,0.06,0.46,1.58,0.17,...,0.07,0.06,95.16,16.07,0.00,111.35,109.01,1.35,0.02,3L
63,French Polynesia,Asia-Pacific,0.27,NaN,NaN,0.75,0.65,0.12,2.39,0.82,...,0.19,0.03,0.73,0.42,0.00,1.37,-3.36,2.73,3.45,5
71,Guadeloupe,Latin America,0.46,NaN,NaN,0.11,0.03,0.16,2.61,0.31,...,0.11,0.03,0.13,0.18,0.00,0.45,-2.77,1.86,7.14,5
91,"Korea, Democratic People's Republic of",Asia-Pacific,24.76,NaN,NaN,0.28,0.00,0.14,0.68,0.02,...,0.24,0.00,0.21,0.09,0.06,0.60,-0.57,0.67,1.94,6
108,Martinique,Latin America,0.40,NaN,NaN,0.13,0.02,0.12,1.73,0.04,...,0.13,0.02,0.10,0.09,0.04,0.39,-1.70,1.20,5.41,3B
115,Montserrat,Latin America,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.36,-6.42,4.49,5.71,2
120,Nauru,Asia-Pacific,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.19,-2.76,1.70,15.83,2
123,New Caledonia,Asia-Pacific,0.25,NaN,NaN,0.68,0.62,0.18,1.78,0.32,...,0.07,0.31,1.94,5.35,0.00,7.67,4.09,2.07,0.47,3L
139,Réunion,Africa,0.86,NaN,NaN,0.14,0.01,0.15,3.27,0.09,...,0.14,0.01,0.04,0.00,0.00,0.18,-3.47,2.11,20.18,5
156,Somalia,Africa,10.20,NaN,NaN,0.16,0.43,0.52,0.07,0.01,...,0.09,0.56,0.22,0.33,0.06,1.27,0.03,0.71,0.98,5
184,Wallis and Futuna Islands,Asia-Pacific,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.51,-0.56,1.19,1.37,3T

In [15]:
countries['HDI'][7] == np.nan

False

In [16]:
countries['HDI'][7] == 'NaN'

False

In [17]:
countries['HDI'][7]

nan

In [18]:
countries['HDI'][7].isnull()

AttributeError: 'numpy.float64' object has no attribute 'isnull'

In [22]:
np.isnan(countries['HDI'][7])

True

In [31]:
# Remove the NaN rows for the HDI column
countries[pd.isnull(countries['HDI']) == False]

,Country,Region,Population (millions),HDI,GDP per Capita,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,...,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required,Data Quality
0,Afghanistan,Middle East/Central Asia,29.820,0.460000,$614.66,0.30,0.20,0.08,0.18,0.00,...,0.24,0.20,0.02,0.00,0.04,0.50,-0.30,0.46,1.600000,6
1,Albania,Northern/Eastern Europe,3.160,0.730000,"$4,534.37",0.78,0.22,0.25,0.87,0.02,...,0.55,0.21,0.29,0.07,0.06,1.18,-1.03,1.27,1.870000,6
2,Algeria,Africa,38.480,0.730000,"$5,430.57",0.60,0.16,0.17,1.14,0.01,...,0.24,0.27,0.03,0.01,0.03,0.59,-1.53,1.22,3.610000,5
3,Angola,Africa,20.820,0.520000,"$4,665.91",0.33,0.15,0.12,0.20,0.09,...,0.20,1.42,0.64,0.26,0.04,2.55,1.61,0.54,0.370000,6
4,Antigua and Barbuda,Latin America,0.090,0.780000,"$13,205.10",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.94,-4.44,3.11,5.700000,2
5,Argentina,Latin America,41.090,0.830000,"$13,540.00",0.78,0.79,0.29,1.08,0.10,...,2.64,1.86,0.66,1.67,0.10,6.92,3.78,1.82,0.450000,6
6,Armenia,Middle East/Central Asia,2.970,0.730000,"$3,426.39",0.74,0.18,0.34,0.89,0.01,...,0.44,0.26,0.10,0.02,0.07,0.89,-1.35,1.29,2.520000,3B
8,Australia,Asia-Pacific,23.050,0.930000,"$66,604.20",2.68,0.63,0.89,4.85,0.11,...,5.42,5.81,2.01,3.19,0.14,16.57,7.26,5.37,0.560000,5
9,Austria,European Union,8.460,0.880000,"$51,274.10",0.82,0.27,0.63,4.14,0.06,...,0.71,0.16,2.04,0.00,0.15,3.07,-3.00,3.50,1.980000,5
10,Azerbaijan,Middle East/Central Asia,9.310,0.750000,"$7,106.04",0.66,0.22,0.11,1.25,0.01,...,0.46,0.20,0.11,0.02,0.06,0.85,-1.46,1.33,2.720000,6
11,Bahamas,Latin America,0.370,0.780000,"$22,647.30",0.97,1.05,0.19,4.46,0.14,...,0.05,0.00,1.18,8.27,0.04,9.55,2.71,3.95,0.720000,3L
12,Bahrain,Middle East/Central Asia,1.320,0.820000,"$24,299.00",0.52,0.45,0.16,6.19,0.07,...,0.01,0.00,0.00,0.46,0.10,0.58,-6.91,4.33,12.960000,3L
13,Bangladesh,Asia-Pacific,154.700,0.560000,$857.50,0.29,0.00,0.08,0.26,0.02,...,0.25,0.00,0.00,0.05,0.07,0.38,-0.35,0.42,1.920000,6
14,Barbados,Latin America,0.280,0.790000,"$15,722.80",0.56,0.24,0.14,3.28,0.22,...,0.08,0.00,0.02,0.04,0.04,0.19,-4.29,2.58,23.790000,5
15,Belarus,Northern/Eastern Europe,9.400,0.800000,"$6,300.45",1.32,0.12,0.91,2.57,0.08,...,1.52,0.30,1.71,0.02,0.09,3.64,-1.45,2.94,1.400000,6
16,Belgium,European Union,11.060,0.890000,"$48,053.30",1.15,0.48,0.99,4.43,0.12,...,0.56,0.03,0.28,0.04,0.27,1.19,-6.25,4.30,6.270000,6
17,Benin,Africa,10.050,0.480000,$746.83,0.49,0.04,0.26,0.51,0.08,...,0.44,0.04,0.34,0.02,0.04,0.88,-0.53,0.81,1.610000,6
19,Bhutan,Asia-Pacific,0.740,0.590000,"$2,395.00",0.50,0.42,3.03,0.63,0.02,...,0.28,0.34,4.38,0.01,0.25,5.27,0.43,2.80,0.920000,3B
20,Bolivia,Latin America,10.500,0.650000,"$2,253.09",0.37,1.69,0.17,0.67,0.01,...,0.59,2.18,13.86,0.05,0.06,16.73,13.77,1.71,0.180000,5
21,Bosnia and Herzegovina,Northern/Eastern Europe,3.830,0.730000,"$4,708.85",0.63,0.27,0.44,1.74,0.02,...,0.30,0.19,1.13,0.00,0.02,1.63,-1.49,1.80,1.910000,5
22,Botswana,Africa,2.000,0.690000,"$7,743.50",0.30,0.89,0.24,2.36,0.01,...,0.06,2.49,0.63,0.27,0.02,3.47,-0.35,2.21,1.100000,3B
23,Brazil,Latin America,198.660,0.750000,"$13,237.60",0.62,0.85,0.60,0.91,0.04,...,1.00,1.00,6.82,0.17,0.09,9.08,5.97,1.80,0.340000,5
25,Brunei Darussalam,Asia-Pacific,0.410,0.850000,"$47,097.40",0.31,0.13,0.26,3.24,0.09,...,0.02,0.01,1.57,1.24,0.03,2.87,-1.19,2.34,1.410000,3L
26,Bulgaria,European Union,7.280,0.780000,"$7,615.28",0.60,0.13,0.35,2.08,0.03,...,1.33,0.08,1.20,0.12,0.13,2.86,-0.46,1.92,1.160000,5
27,Burkina Faso,Africa,16.460,0.390000,$671.07,0.47,0.17,0.36,0.12,0.03,...,0.50,0.17,0.25,0.00,0.05,0.98,-0.22,0.70,1.230000,5
28,Burundi,Africa,9.850,0.390000,$276.69,0.21,0.07,0.45,0.04,0.00,...,0.20,0.07,0.01,0.01,0.03,0.32,-0.48,0.46,2.480000,4
29,Cabo Verde,Africa,0.490,0.640000,"$3,801.45",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.62,-1.90,1.46,4.060000,3T
30,Cambodia,Asia-Pacific,14.860,0.550000,$877.64,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.09,-0.11,0.70,1.110000,3T
31,Cameroon,Africa,21.700,0.500000,"$1,271.21",0.54,0.10,0.21,0.19,0.08,...,0.55,0.10,0.92,0.08,0.05,1.69,0.52,0.68,0.690000,6
32,Canada,North America,34.840,0.910000,"$52,145.40",1.46,0.33,1.20,5.00,0.12,...,3.11,0.29,9.12,3.41,0.07,16.01,7.83,4.72,0.510000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,South Africa,Africa,52.390,0.660000,"$8,089.87",0.44,0.11,0.29,2.34,0.08,...,0.35,0.58,0.02,0.17,0.04,1.15,-2.16,1.91,2.870000,5
158,Spain,European Union,46.760,0.870000,"$32,008.70",0.78,0.15,0.17,2.22,0.32,...,0.72,0.10,0.34,0.06,0.04,1.25,-2.42,2.12,2.940000,6
159,Sri Lanka,Asia-Pacific,21.100,0.750000,"$2,880.03",0.31,0.01,0.16,0.52,0.27,...,0.26,0.02,0.04,0.07,0.05,0.44,-0.88,0.77,3.010000,6
160,Suriname,Latin America,0.540,0.710000,"$8,190.70",0.43,0.06,0.52,3.01,0.14,...,0.30,0.03,81.52,7.39,0.09,89.33,85.08,2.46,0.050000,3L
161,Swaziland,Africa,1.230,0.530000,"$4,657.48",0.35,0.41,0.52,0.67,0.01,...,0.25,0.51,0.05,0.00,0.06,0.88,-1.14,1.16,2.300000,3L
162,Sweden,European Union,9.510,0.900000,"$59,381.90",1.47,0.27,1.30,3.88,0.09,...,1.31,0.22,6.66,2.19,0.24,10.62,3.38,4.19,0.680000,5
163,Switzerland,Northern/Eastern Europe,8.000,0.930000,"$88,506.20",0.75,0.22,0.38,4.26,0.07,...,0.32,0.12,0.74,0.01,0.12,1.30,-4.48,3.34,4.440000,6
164,Syrian Arab Republic,Middle East/Central Asia,21.890,0.620000,NaN,0.52,0.09,0.04,0.81,0.01,...,0.41,0.10,0.04,0.00,0.05,0.60,-0.91,0.87,2.500000,5
165,Tajikistan,Middle East/Central Asia,8.010,0.620000,$836.17,0.46,0.14,0.10,0.13,0.00,...,0.29,0.14,0.01,0.01,0.08,0.53,-0.38,0.52,1.710000,5
166,"Tanzania, United Republic of",Africa,47.780,0.510000,$765.33,0.44,0.34,0.23,0.17,0.09,...,0.46,0.34,0.17,0.06,0.06,1.08,-0.24,0.76,1.230000,6
167,Thailand,Asia-Pacific,66.780,0.720000,"$5,479.29",0.67,0.02,0.24,1.54,0.13,...,0.77,0.01,0.20,0.19,0.07,1.24,-1.42,1.54,2.140000,6
168,Timor-Leste,Asia-Pacific,1.110,0.600000,"$5,167.86",0.25,0.07,0.04,0.06,0.02,...,0.21,0.06,0.52,0.94,0.04,1.78,1.30,0.28,0.270000,3B
169,Togo,Africa,6.640,0.470000,$580.86,0.34,0.10,0.27,0.31,0.08,...,0.34,0.12,0.03,0.02,0.02,0.53,-0.60,0.65,2.130000,6
170,Tonga,Asia-Pacific,0.100,0.720000,"$4,330.90",1.19,0.32,0.14,0.88,0.18,...,0.83,0.02,0.11,0.52,0.00,1.48,-1.22,1.56,1.820000,3B
171,Trinidad and Tobago,Latin America,1.340,0.770000,"$18,310.80",0.46,0.19,0.27,6.89,0.11,...,0.04,0.01,0.15,1.37,0.00,1.56,-6.36,4.57,5.070000,3B
172,Tunisia,Africa,10.880,0.720000,"$4,305.07",0.76,0.09,0.28,1.11,0.06,...,0.53,0.08,0.05,0.24,0.04,0.93,-1.40,1.35,2.510000,5
173,Turkey,Middle East/Central Asia,74.000,0.760000,"$10,437.70",0.87,0.12,0.34,1.92,0.04,...,0.75,0.09,0.60,0.04,0.04,1.52,-1.81,1.92,2.190000,5
174,Turkmenistan,Middle East/Central Asia,5.170,0.680000,"$5,290.14",0.73,0.44,0.08,4.13,0.01,...,0.60,1.96,0.02,0.13,0.09,2.79,-2.68,3.16,1.960000,6
175,Uganda,Africa,36.350,0.480000,$601.35,0.34,0.15,0.54,0.08,0.11,...,0.35,0.15,0.01,0.04,0.04,0.59,-0.66,0.72,2.120000,6
176,Ukraine,Northern/Eastern Europe,45.530,0.740000,"$3,589.63",0.62,0.01,0.16,1.92,0.06,...,1.50,0.12,0.43,0.15,0.07,2.27,-0.58,1.64,1.250000,5
177,United Kingdom,European Union,63.030,0.900000,"$40,980.50",0.82,0.28,0.45,3.14,0.08,...,0.60,0.12,0.12,0.30,0.18,1.32,-3.62,2.85,3.760000,6
178,United Arab Emirates,Middle East/Central Asia,9.206,0.830000,"$40,817.40",0.80,0.19,0.38,6.37,0.19,...,0.02,0.00,0.07,0.47,0.00,0.56,-7.37,4.58,14.160714,6
179,United States of America,North America,317.500,0.910000,"$49,725.00",1.13,0.30,0.67,5.90,0.12,...,1.49,0.28,1.57,0.33,0.09,3.76,-4.46,4.75,2.190000,6
180,Uruguay,Latin America,3.400,0.790000,"$14,238.10",0.19,0.98,0.55,0.98,0.05,...,1.89,4.86,1.22,2.18,0.17,10.32,7.41,1.68,0.280000,3B
181,Uzbekistan,Middle East/Central Asia,28.540,0.670000,"$1,560.85",0.62,0.13,0.08,1.41,0.00,...,0.56,0.20,0.06,0.03,0.08,0.92,-1.40,1.34,2.520000,6
182,"Venezuela, Bolivarian Republic of",Latin America,29.960,0.763846,"$10,237.80",0.45,0.74,0.12,2.13,0.09,...,0.14,0.57,1.79,0.24,0.04,2.78,-0.79,2.06,1.280000,5
183,Viet Nam,Asia-Pacific,90.800,0.660000,"$1,532.31",0.50,0.01,0.19,0.79,0.05,...,0.55,0.01,0.17,0.16,0.10,1.00,-0.65,0.95,1.660000,6
185,Yemen,Middle East/Central Asia,23.850,0.500000,"$1,302.30",0.34,0.14,0.04,0.42,0.04,...,0.09,0.12,0.04,0.20,0.04,0.50,-0.53,0.59,2.060000,5
186,Zambia,Africa,14.080,0.580000,"$1,740.64",0.19,0.18,0.33,0.24,0.01,...,0.24,0.94,0.99,0.02,0.04,2.23,1.24,0.57,0.440000,6
187,Zimbabwe,Africa,13.720,0.490000,$865.91,0.20,0.32,0.29,0.53,0.01,...,0.15,0.32,0.12,0.01,0.02,0.62,-0.75,0.79,2.200000,6

In [19]:
type(countries['HDI'][7])

numpy.float64

In [27]:
type(countries['GDP per Capita'][7])

float

In [28]:
pd.isnull(countries['GDP per Capita'][7])

True

In [ ]:
type(countries)

In [10]:
# Noticed that there seem to be units on the Data Quality
countries['Data Quality'].value_counts()

5     66
6     60
3B    29
3L    18
3T     7
2      6
4      2
Name: Data Quality, dtype: int64

Data Quality score information can be found <a href="https://www.footprintnetwork.org/data-quality-scores/">here</a>.

The purpose of these scores is to rate the quality of data that has been produced and maintained from various data sources since 1961. This may include missing, unavailable, incomplete, or error-containing data. The quality score, therefore, is a measure of confidence in DQ.

- 1-3 is the time series score
- A-D is the latest year score

(not entirely sure what that means... needs to be researched furter)

**Summary of DQ values in dataset:**
- **3B:** No component of BC or EF is unreliable or unlikely for the latest data year. Some individual components of the EF or BC are unlikely in the latest data year. The total EF and BC time series results are not significantly affected by unlikely data.
- **3L:** ???
- **3T:** ???

Created a discussion on Kaggle about the scores <a href="https://www.kaggle.com/footprintnetwork/ecological-footprint/discussion/74703">here</a>.

In [11]:
# Another starting place to look for values that don't fit
countries.describe()

,Population (millions),HDI,Cropland Footprint,Grazing Footprint,Forest Footprint,Carbon Footprint,Fish Footprint,Total Ecological Footprint,Cropland,Grazing Land,Forest Land,Fishing Water,Urban Land,Total Biocapacity,Biocapacity Deficit or Reserve,Earths Required,Countries Required
count,188.000000,172.00000,173.000000,173.000000,173.000000,173.000000,173.000000,188.000000,173.000000,173.000000,173.000000,173.000000,173.000000,188.000000,188.000000,188.000000,188.000000
mean,37.342372,0.68636,0.578208,0.263179,0.373815,1.804913,0.122486,3.317606,0.531850,0.456590,2.459191,0.595145,0.067110,4.019681,0.702074,1.915745,4.037397
std,140.756836,0.15604,0.355691,0.352067,0.359349,1.898283,0.158427,2.370931,0.672567,1.014738,10.593956,1.661872,0.054844,11.689075,11.771339,1.369624,12.444616
min,0.000000,0.34000,0.070000,0.000000,0.010000,0.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,-14.140000,0.240000,0.020000
25%,2.037500,0.55750,0.350000,0.080000,0.170000,0.420000,0.020000,1.482500,0.180000,0.030000,0.060000,0.030000,0.030000,0.675000,-1.935000,0.855000,0.942500
50%,7.970000,0.72000,0.520000,0.180000,0.260000,1.140000,0.070000,2.740000,0.350000,0.120000,0.340000,0.110000,0.050000,1.310000,-0.730000,1.580000,1.705000
75%,24.870000,0.80250,0.700000,0.320000,0.460000,2.600000,0.150000,4.640000,0.590000,0.340000,1.170000,0.370000,0.090000,2.815000,0.212500,2.677500,2.847500
max,1408.040000,0.94000,2.680000,3.470000,3.030000,12.650000,0.820000,15.820000,5.420000,8.230000,95.160000,16.070000,0.270000,111.350000,109.010000,9.140000,159.470000

- Max much higher than the mean (indicates a possible outlier)
 - Population
 - Cropland
 - Grazing Footprint
 - Forest land
 
Max and mean look evenly distributed:
- HDI
- Cropland Footprint
- ...
    
**Thought process:** *Should I include it? Is it a true observation? Should I transform it?*